@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

::placeholder {
  color: white;
  opacity: .7;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

#top {
  flex: 1;
  animation: fadeIn .8s ease-in-out 1;
}

.top-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

#top-left {
  padding-left: 20px;
  flex-direction: column;
  transition: opacity 4s ease;
}

#top-right {
  padding-right: 20px;
  justify-content: flex-end;
  transition: opacity 4s ease;
}

#record {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
}

#record-text {
  margin-right: 5px;
}

.prompt {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-prompt {
  justify-content: normal;
}

.space-prompt {
  flex-direction: row;
  justify-content: space-around;
}

#prompt-title {
  font-size: 40px;
  margin-bottom: 45vh;
}

#space-prompt-text {
  margin-top: 95vh;
}

.blink {
  opacity: 0;
  animation: blink 3s linear infinite;
}

.ship-container {
  position: absolute;
  z-index: 1;
}

.ship-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: all 0.5s;
}

.ship-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.spawn {
  position: absolute;
}

#bot {
  height: 50px;
  display: flex;
  align-items: center;
  animation: fadeIn .8s ease-in-out 1;
  transition: opacity 4s ease, transform 1s ease-in-out;
}

.bot-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.bot-link {
  cursor: pointer;
  padding: 12px;
}

#modal {
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  top: 200px;
  background-color: #555555;
  margin: auto;
  padding: 20px 14px;
  width: 25%;
  border: 1px solid #404040;
  border-radius: 4px;
  box-shadow: 0 0 20px #000;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-top {
  display: flex;
  justify-content: flex-end;
}

.modal-title-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

#modal-title {
  font-size: 30px;
}

.modal-line {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}

.modal-line-center {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.modal-label {
  margin-right: 4px;
}

.save-container {
  display: flex;
}

#song-name {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-right: 4px;
}

#need-name {
  font-size: 16px;
  color: #ff3232;
  display: none;
  justify-content: center;
}

.space-button {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #444;
  color: rgba(0,0,0,.8);
  padding: 5px;
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.space-button:hover {
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.space-button:focus {
  outline: 0;
}

#close-modal {
  font-size: 22px;
  font-weight: bold;
}

#close-modal:hover {
  color: #e50000;
  text-decoration: none;
  cursor: pointer;
}

#close-modal:focus {
  outline: 0;
}

#save-success {
  display: none;
}

#join-space {
  position: relative;
  padding: 8px 0;
}

.popup {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}

.show {
  visibility: visible;
  animation: fadeIn 0.5s;
}

.hide {
  visibility: hidden;
}

#join-input {
  width: 100%;
  padding: 4px 0;
  background-color: #555;
  color: white;
  text-decoration: none;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
}

#join-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

#join-input:focus {
  outline: none;
}

/* ABOUT css */
.about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#about-top {
  background-color: #79c9fa;
  flex: 1;
}

#about-title {
  font-size: 40px;
  color: #efefef;
}

.about-head {
  height: 80px;
  background-image: url('/static/img/landscape-top.png');
  background-size: 100% 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.about-head-container {
  flex: 1;
}

.content {
  width: 70%;
  margin: 30px auto;
  animation: fadeIn .8s ease-in-out 1;
}

.about-section-title {
  font-size: 30px;
  margin-bottom: 5px;
}

#authors {
  margin: 20px 0;
}

/* Error page CSS */
#error {
  margin: 20px;
}

/* Slides */
#hidden-about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 100%;
}

#hidden-space {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  right: 100%;
}

#hidden-leave {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 100%;
}

#hidden-home {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 99.5%;
}

.slideUp {
  transition: transform 1s ease-in-out;
  transform: translateY(-100vh);
}

.slideDown {
  transition: transform 1s ease-in-out;
  transform: translateY(100vh);
}

.slideRight {
  transition: transform 1s ease-in-out;
  transform: translateX(100vw);
}

.slideLeft {
  transition: transform 1s ease-in-out;
  transform: translateX(-100vw);
}

/* OBSERVATORY CSS */

.obs {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  overflow: auto;
}

.obs-head {
  height: 80px;
  margin-bottom: 30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.obs-head-container {
  flex: 1;
}

#obs-title {
  font-size: 40px;
  color: #efefef;
}

#songs-container {
  width: 85vw;
  margin: auto;
}

#songs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.constellation {
  position: relative;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.constellation-text {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 6px;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: all 0.5s;
}

.constellation-author {
  margin: 3px 0;
}

.constellation-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.constellation:hover .constellation-text {
  opacity: 1;
  visibility: visible;
}

@keyframes slideIn {
  from {top: 0; opacity: 0}
  to {top: 200px; opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes move {
  from {top: 100%}
  to {top: 0%}
}

@keyframes twinkle {
  0%   { opacity: .7; }
  30%  { opacity: 1; }
  70%  { opacity: .8; }
  100% { opacity: .7; }
}
