@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

::placeholder {
  color: white;
  opacity: .7;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
}

#top {
  flex: 1;
}

.top-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.share {
  padding-left: 20px;
  flex-direction: column;
}

.record {
  padding-right: 20px;
  justify-content: flex-end;
}

.prompt {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.space-prompt {
  flex-direction: row;
  justify-content: space-around;
}

#prompt-title {
  font-size: 40px;
}

.blink {
  opacity: 0;
  animation: blink 3s linear infinite;
}

.ship-container {
  position: absolute;
  top: 75%;
  left: 70%;
  animation: move 600s linear infinite;
  animation-delay: -150s;
  z-index: 10;
}

#ship-text {
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

#ship-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.ship-container:hover #ship-text {
  opacity: 1;
}

.spawn {
  position: absolute;
}

#bot {
  height: 50px;
  display: flex;
  align-items: center;
  transition: opacity 4s ease;
}

.bot-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.bot-link {
  cursor: pointer;
  padding: 10px;
}

#join-space {
  position: relative;
  padding: 8px 0;
}

.popup {
  visibility: hidden;
  width: 100px;
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  margin-left: -50px;
}

.show {
  visibility: visible;
  animation: fadeIn 0.5s;
}

.hide {
  visibility: hidden;
}

#join-input {
  width: 100%;
  padding: 4px 0;
  background-color: green;
  color: white;
  text-decoration: none;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  text-align: center;
}

#join-input:focus {
  outline: none;
}

/* ABOUT css */
.about {
  background-image: url("/static/img/landscape.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about-top {
  height: 60px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  color: white;
}

#home {
  margin-right: 10px;
}

#about-title {
  font-size: 40px;
}

.content {
  width: 70%;
  margin: auto;
}

.about-section-title {
  font-size: 30px;
  margin-bottom: 5px;
}

#motive {
  color: #fafafa;
}

#authors {
  margin: 20px 0;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes move {
  from {top: 100%}
  to {top: 0%}
}
