<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="It's like Patatap but social and collaborative.">
    <meta name="author" content="joonhok and mfarejow">
    <title>soundspace</title>

    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  {% block content %}{% endblock %}
</html>
