{% extends 'base.html' %}

{% block content %}
  <body class="container">
    <div id="top">
      <div id="prompt">
        <span class="blink" id="prompt-text">press any key to start</span>
      </div>
    </div>
    <div id="bot">
      <a class="bot-link" id="about" href="/about">about</a>
      <a class="bot-link" id="create" onclick="createSpace()">create space</a>
      <a class="bot-link" id="join">join space</a>
      {% if loggedIn %}
      <a class="bot-link" id="logout" href="/logout">logout</a>
      {% else %}
      <a class="bot-link" id="login" href="/auth/google">login</a>
      {% endif %}
      <a class="bot-link" id="obs" href="/observatory">observatory</a>
    </div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/sound.js"></script>
  <script src="/static/js/index.js"></script>
{% endblock %}
