{% extends 'base.html' %}

{% block content %}
  <body class="container">
    <div id="top">
      <div class="prompt" id="home-prompt">
        <div id="prompt-title">soundspace</div>
        <div class="blink" id="prompt-text">press any key to start</div>
      </div>
      {% if loggedIn %}
      <div class="ship-container">
        <div id="ship-text"></div>
        <img id="my-ship" />
      </div>
      {% endif %}
    </div>
    <div id="bot">
      <div class="bot-container">
        <a class="bot-link" id="create" onclick="createSpace()">create space</a>
      </div>
      <div class="bot-container">
        <div id="join-space">
          <span id="join-popup" class="popup hide">
            <input id="join-input" type="text" placeholder="code" maxlength="4">
          </span>
          <a class="bot-link" id="join" onClick="joinPopup()">join space</a>
        </div>
      </div>
      <div class="bot-container">
        <a class="bot-link" id="about" onClick="slideUp()">about</a>
      </div>
      <div class="bot-container">
        {% if loggedIn %}
        <a class="bot-link" id="logout" href="/logout">logout</a>
        {% else %}
        <a class="bot-link" id="login" href="/auth/google">login</a>
        {% endif %}
      </div>
      <div class="bot-container">
        <a class="bot-link" id="obs" href="/observatory">observatory</a>
      </div>
    </div>
    <div id="hidden-about">
      <div id="about-top">
        <div class="about-head">
        </div>
      </div>
      <img id="about-bot" src="/static/img/landscape-bot.png" style="width:100%"/>
    </div>
    <div id="hidden-space"></div>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/static/js/sound.js"></script>
  <script src="/static/js/index.js"></script>
{% endblock %}
