<!DOCTYPE HTML>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/style.css"/>

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/static/js/sound.js" defer></script>
    <script src="/static/js/index.js" defer></script>
    <title>soundspace</title>
  </head>
  <body>
    <div id="top">
      <div id="prompt">
        <span class="blink" id="prompt-text">press any key to start</span>
      </div>
    </div>
    <div id="bot">
      <span class="clickable" id="about">about</span>
      <span class="clickable" id="host">host space</span>
      <span class="clickable" id="join">join space</span>
      <a class="clickable" id="login" href="/auth/google">login</a>
      <span class="clickable" id="obs">observatory</span>
    </div>
  </body>
</html>
